<!-- templates/single_page_simple.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Arun Maira{% endblock %}

{% block content %}
<!-- Home Section -->
<section id="home" class="py-5">
    <div class="container">
        {% include 'home.html' %}
    </div>
</section>

<!-- About Section -->
<section id="about" class="py-5 bg-light">
    <div class="container">
        {% include 'about.html' %}
    </div>
</section>

<!-- Reading Ideas Section -->
<section id="reading" class="py-5">
    <div class="container">
        {% include 'reading.html' %}
    </div>
</section>

<!-- Listening to Ideas Section -->
<section id="listening" class="py-5 bg-light">
    <div class="container">
        {% include 'listening.html' %}
    </div>
</section>

{% comment %} <!-- Listening to Ideas Section -->
<section id="listening" class="py-5 bg-light">
    <div class="container">
        {% include 'listening.html' %}
    </div>
</section>

<!-- Listening to Ideas Section -->
<section id="listening" class="py-5 bg-light">
    <div class="container">
        {% include 'listening.html' %}
    </div>
</section> {% endcomment %}


<!-- Add other sections similarly -->
{% endblock %}